body {
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background: whitesmoke;
}

.nutshell__logo {
  color: whitesmoke;
  text-shadow: 0 0 10px #111;
}

.huge__logo {
  font-size: 3em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.logo__tagline {
  font-size: .5em;
  color: whitesmoke;
}

.header {
  background: #424651;
  padding: 10px;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

.login__form {
  border: 3px solid #424651;
  text-align: center;
  max-width: 954px;
  margin: auto;
  padding: 20px;
}

.login_register__links {
  text-decoration: none;
  color: lightblue;
}

.login_register__links:hover {
  text-decoration: none;
  color: red;
}

.welcome {
  background: #424651;
  color: rgb(179, 179, 179);
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

/* Navigation */

.nav__container {
  display: flex;
}

.nav {
  max-width: 1000px;
  margin: auto;
}

.nav__buttons {
  width: 100%;
  border: 1px solid whitesmoke;
  background: #424651;
  text-align: center;
  color: white;
  padding: 5px 0;
}

.nav__buttons:hover {
  background: #BCE7FD;
  color: #424651;
}

.dashboard__logout__links {
  color: whitesmoke;
  border: 1px solid lightblue;
  text-decoration: none;
  padding: 0 10px;
}

.dashboard__logout__links:hover {
  color: blue;
  background-color: lightblue;
}

.add__item {
  text-decoration: none;
  font-size: 80%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #424651;
  border: 1px solid white;
}

.add__item:hover {
  color: red;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Categories */

.categories__container {
  max-width: 1000px;
  margin: auto;
  display: flex;
}

.category__container {
  width: 100%;
  border: 1px solid whitesmoke;
  padding: 10px;
}

/* .news__element {
  border: 1px solid green;
  padding: 5px;
} */

/* check class syntax in html */

.event__div {
  border: 1px solid whitesmoke;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 5px #424651; */
  padding: 5px;
}

.event__div:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.edit__event__div {
  border: 1px solid whitesmoke;
  margin: 8px 0px 0px 0px;
  /* box-shadow: 0px 0px 3px #424651; */
  padding: 3px;
  background: lightgray;
  /* z-index: 10; */
}

.edit__event__input {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  font-size: 12px;
}

.event__title {
  font-size: 1em;
}

.first__event {
  background-image: linear-gradient(whitesmoke, #c2eaeb);
  font-size: 110%;
}



.todo__element {
  border: 1px solid green;
  padding: 5px;
}

.hide {
  display: none;
}

/* BUTTONS */

.event__edit__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.event__edit__button:hover {
  background: red;
}

.event__delete__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.event__delete__button:hover {
  background: purple;
}

.edit__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.edit__button:hover {
  background: red;
}

.editSave__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.editSave__button:hover {
  background: maroon;
}

.editCancel__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.editCancel__button:hover {
  background: blueviolet;
}

.delete__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.delete__button:hover {
  background: purple;
}

.save__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.save__button:hover {
  background: #159e96;
}

.news__div {
  border: 1px solid #424651;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.news__div:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.edit__news__div {
  border: 1px solid #424651;
  margin: 8px 0px;
  box-shadow: 0px 0px 3px #424651;
  padding: 3px;
  background: lightgray;
}

/* containers */

#news__container {
  background: #c2eaeb;
}

#events__container {
  background: #81d8d4;
}

#chat__container {
  background: #3fc6bd;
}

#todo__container {
  background: #2dafa7;
}

/* Event Styles */

.event__synopsis {
  margin-top: 5px;
  font-size: .9em;
  font-style: oblique;
}

.event__date {
  font-size: .85em;
  margin: 5px 0px;
}
.event__location {
  font-size: .85em;
  margin: 5px 0px;
}

.add_event_form {
  border: 1px solid white;
  background: whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
}


/* News Styles */
.add_content_form {
  border: 1px solid white;
  background: whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
}

.news__url {
  font-size: 70%;
}

/* Chat Styles */
.add_chat_form {
  border: 1px solid white;
  background: whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
}

.new__chat__input {
  width: 80%;
}

.chat__element {
  border: 1px solid green;
  padding: 5px;
}

.chat__div {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-bottom: 10px;
}

.chat__div:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.chat__time {
  font-size: 70%;
  font-style: oblique;
  margin: 5px 0px;
}

.chat__name {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat__name:hover {
  font-weight: bolder;
  color: red;
}

/* Todo Styles */

.add_todo_form {
  border: 1px solid white;
  background: whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
}