/* * { */
  /* margin: 0; */
  /* padding: 0; */
  /* } * */

body {
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background: whitesmoke;
}

.header {
  background: #424651;
  padding: 10px;
  color: whitesmoke;
}

.login__form {
  border: 1px solid gray;
}

.welcome {
  text-align: center;
}
/* Navigation */
.nav__container {
  display: flex;
}

.nav {
  max-width: 1000px;
  margin: auto;
}
.nav__buttons {
  width: 100%;
  border: 1px solid whitesmoke;
  background: #424651;
  text-align: center;
  color: white;
  padding: 5px 0;
}

.nav__buttons:hover {
  background: #BCE7FD;
  color: #424651;
}

.dashboard__logout__links {
  color: whitesmoke;
  border: 1px solid lightblue;
  text-decoration: none;
  padding: 0 10px;
}
.dashboard__logout__links:hover {
  color: blue;
  background-color: lightblue;
}


/* Categories */
.categories__container {
  max-width: 1000px;
  margin: auto;
  display: flex;
}

.category__container {
  width: 100%;
  border: 1px solid #424651;
  padding: 10px;
}

.news__element {
  border: 1px solid green;
  padding: 5px;
}

/* check class syntax in html */
.event__div {
  border: 1px solid #424651;
  margin-bottom: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 5px #424651; */
  padding: 5px;
}

.edit__event__div {
  border: 1px solid #424651;
  margin: 8px 0px;
  box-shadow: 0px 0px 3px #424651;
  padding: 3px;
  background: lightgray;
  /* z-index: 10; */
}

.edit__event__input {
  margin: 5px;
  border-radius: 5px;
}

.event__title {
  font-size: 1em;
}

.chat__element {
  border: 1px solid green;
  padding: 5px;
}
.todo__element {
  border: 1px solid green;
  padding: 5px;
}


.hide {
  display: none;
}


/* BUTTONS */

.event__edit__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.event__edit__button:hover {
  background: red;
}

.event__delete__button {
  background: #424651;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 10px;
  color: white;
}

.event__delete__button:hover {
  background: purple;
}